<h1>ABOUT OUR SHOP</h1>
<div class="about">
    <img class="about img-fluid" src="../../assets/about-img.png">
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="">Coffee distribution</h5>
      <p class="card-text">has a more-or-less normal distribution of letters, as opposed to using 'Content here', making it look like
        readable
        English.<br>
        Many desktop publishing packages and webpage editor has a more-or-less normal distribution of letters ,as
        opposed to
        using 'Content here',makingit liik like readable English. Mny desktop publishing packages and web page editor</p>
      <a href="#" class="btn btn-primary">READ MORE</a>
    </div>
  </div>
