<h1>GET IN TOUCH WUTH US</h1>
<form>
    <div class="form group">
        <label for="Name">Name</label> <br>
        <input type="text" name="Name"class="form control">
    </div>
    <pre></pre>
    
    <div class="form group">
        <label for="email">email</label> <br>
        <input type="text" name="email"class="form control">
    </div>
    <pre></pre>
    <div class="form group">
        <label for="Phone">Phone</label> <br>
        <input type="text" name="Phone"class="form control">
    </div>
    <pre></pre>
    <div class="form group">
        <label for="Message">Message</label> <br>
        <input type="text" name="Message"class="form control">
    </div>
    <pre></pre>

    <button class="btn btn-primary"type="submit"> SEND</button>
</form>
<div>
</div>




