<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/blog-img1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="PREP TECHNIQUE COFFEE">PREP TECHNIQUE COFFEE</h5>
                    <p class="card-text">distracted by readable contenmt of a page when looking at this layout.The point
                        of using Lorem Ipsum is that it has a moredistracted by the readable content of a page when
                        looking at its layout. The point of using Lorem Ipsum is that its a more.</p>
                    <a href="#" class="btn btn-primary">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/blog-img2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="PREP TECHNIQUE COFFEE">PREP TECHNIQUE COFFEE</h5>
                    <p class="card-text">distracted by readable contenmt of a page when looking at this layout.The point
                        of using Lorem Ipsum is that it has a moredistracted by the readable content of a page when
                        looking at its layout. The point of using Lorem Ipsum is that its a more.</p>
                    <a href="#" class="btn btn-primary">READ MORE</a>
                </div>
            </div>
        </div>

    </div>

</div>