<div class="container d-flex">
    <div class="banner-img">
        <img class="img-fluid" src="../../assets/banner-img.png">
    </div>
    <div class="banner-text">
        <h2>Coffee</h2>
        <h1>Taste of Dozecafe</h1>
        <p>more-or-less distribution of letters, as opposed by using</p>
        <div class="">
            <button class="btn btn-lg" style="background-color: #d48272;" type="submit">About Us</button>
            <button class="btn btn-dark btn-lg" type="submit">Call Us</button>  
        </div>
    </div>
</div>
|<div class="container text-center mt-5">
    <div class="row">
        <h1>OUR COFFEE OFFERS</h1>
        <div class="col-3 ">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/types.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="TYPES OF COFFEE">TYPES OF COFFEE</h5>
                    <p class="card-text">looking at its layout.The point of.</p>
                    <a href="#" class="btn btn-primary">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/varieties.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="TYPES OF COFFEE">TYPES OF COFFEE</h5>
                    <p class="card-text">looking at its layout.The point of.</p>
                    <a href="#" class="btn btn-primary">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/pastry.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="TYPES OF COFFEE">TYPES OF COFFEE</h5>
                    <p class="card-text">looking at its layout.The point of.</p>
                    <a href="#" class="btn btn-primary">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/go.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="TYPES OF COFFEE">TYPES OF COFFEE</h5>
                    <p class="card-text">looking at its layout.The point of.</p>
                    <a href="#" class="btn btn-primary">READ MORE</a>
                </div>
            </div>
        </div>
    </div>
</div>
<h1>ABOUT OUR SHOP</h1>
<div class="about">
    <img class="about img-fluid" src="../../assets/about-img.png">
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="">Coffee distribution</h5>
      <p class="card-text">has a more-or-less normal distribution of letters, as opposed to using 'Content here', making it look like
        readable
        English.<br>
        Many desktop publishing packages and webpage editor has a more-or-less normal distribution of letters ,as
        opposed to
        using 'Content here',makingit liik like readable English. Mny desktop publishing packages and web page editor</p>
      <a href="#" class="btn btn-primary">READ MORE</a>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/blog-img1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="PREP TECHNIQUE COFFEE">PREP TECHNIQUE COFFEE</h5>
                    <p class="card-text">distracted by readable contenmt of a page when looking at this layout.The point
                        of using Lorem Ipsum is that it has a moredistracted by the readable content of a page when
                        looking at its layout. The point of using Lorem Ipsum is that its a more.</p>
                    <a href="#" class="btn btn-primary">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/blog-img2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="PREP TECHNIQUE COFFEE">PREP TECHNIQUE COFFEE</h5>
                    <p class="card-text">distracted by readable contenmt of a page when looking at this layout.The point
                        of using Lorem Ipsum is that it has a moredistracted by the readable content of a page when
                        looking at its layout. The point of using Lorem Ipsum is that its a more.</p>
                    <a href="#" class="btn btn-primary">READ MORE</a>
                </div>
            </div>
        </div>

    </div>

</div>
<h1>WHAT SAY AS CUSTOMERS</h1>
    <div class="client1">
        <img class="about img-fluid" src="../../assets/client-img1.png">
        <p>now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover mant websites still in their infancynow use Lorem Ipsumas their default model text</p>
    </div>
    <div class="client2">
        <img class="about img-fluid" src="../../assets/client-img2.png">
        <p>now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover mant websites still in their infancynow use Lorem Ipsumas their default model text</p>
    </div>
    <div class="client3">
        <img class="about img-fluid" src="../../assets/client-img3.png">
        <p>now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover mant websites still in their infancynow use Lorem Ipsumas their default model text</p>
    </div>


        
