
    <h1>WHAT SAY AS CUSTOMERS</h1>
    <div class="client1">
    <div class="client1-text"></div>
        <img class="about img-fluid" src="../../assets/client-img1.png">
        <p>now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover mant websites still in their infancynow use Lorem Ipsumas their default model text/p>
    </div>
    <div class="client2">
        <img class="about img-fluid" src="../../assets/client-img2.png">
        <p>now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover mant websites still in their infancynow use Lorem Ipsumas their default model text/p>
    </div>
    <div class="client3">
        <img class="about img-fluid" src="../../assets/client-img3.png">
        <p>now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover mant websites still in their infancynow use Lorem Ipsumas their default model text/p>
    </div>

